!*.exe
!*.dll
!*.lib
!*.log


*.opensdf
*.pdb
*.sdf
obj/
debug/
ipch/


mysqltest_embedded.exe
mysql_client_test_embedded.exe
mysql_embedded.exe
mysqlclient.lib
mysqlserver.lib
WiXCustomAction.exp
WiXCustomAction.lib
build.bat
build.log

/Suite_Apps/SuiteEng/bin/
/Suite_Apps/SuiteEngConf/bin/
/Suite_Apps/WiXInstaller/bin/

/Suite_Prereqs/WiXInstaller/bin/
/Suite_WixExt/wixstdba/Release
/Suite_WixExt/wixlib/bin
/Suite_WixExt/wixext/bin
/Suite_WixExt/build/*
!/Suite_WixExt/build/WixBalExtensionExt.dll

sources/


