<?xml version="1.0" encoding="UTF-8"?>
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?include Configuration.wxi?>

  <Product Id="$(var.Apache_ProductCode)" Name="$(var.Apache_ProductName)" Language="1033" Version="$(var.Apache_ProductVersion)" Manufacturer="$(var.Suite_Manufacturer)" UpgradeCode="$(var.Apache_UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- These properties will be provided by bootstrapper and will be overrided -->
    <Property Id="INSTALL_REG_PATH" Value="SOFTWARE\$(var.Suite_ManufShort)\$(var.Suite_ProdShort)" />


    <Binary Id="WiXCustomAction" SourceFile="..\WiXCustomAction\bin\$(var.Configuration)\Win64\WiXCustomAction.dll"/>

    <SetProperty Id="UpdateApacheConfig" Sequence="execute" Value="[SUITE_INSTALLDIR]|[APACHE_PORT]|[#httpd.conf]" Before="UpdateApacheConfig" />
    <CustomAction Id="UpdateApacheConfig" BinaryKey="WiXCustomAction" DllEntry="UpdateApacheConfig" Execute="deferred" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="UpdateApacheConfig" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>
    <!--
      Possible fix for: Apache start error: No installed ConfigArgs for the service "bla", using Apache defaults
      
It looks like a registry entry/setting is not getting properly set.  Open your registry and look for:

     HKLM/System/CurrentControlSet/Services/Apache2.2

Under parameters there should be a ConfigArgs that has something like:

-f
C:\Program Files\Apache Software Foundation\Apache2.2\conf\httpd.conf
-d
C:\Program Files\Apache Software Foundation\Apache2.2\.      
      
      
      To test Apache config: httpd -t
      -->
    <SetProperty Id="UpdateApacheConfig1" Sequence="execute" Value="[SUITE_INSTALLDIR]|[APACHE_PORT]|[#local.conf]" Before="UpdateApacheConfig1" />
    <CustomAction Id="UpdateApacheConfig1" BinaryKey="WiXCustomAction" DllEntry="UpdateApacheConfig" Execute="deferred" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="UpdateApacheConfig1" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>

    <!--
    <SetProperty Id="UpdateApacheConfig2" Sequence="execute" Value="[SUITE_INSTALLDIR]|[APACHE_PORT]|[#hosted.com.conf]" Before="UpdateApacheConfig2" />
    <CustomAction Id="UpdateApacheConfig2" BinaryKey="WiXCustomAction" DllEntry="UpdateApacheConfig" Execute="deferred" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="UpdateApacheConfig2" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>

    <SetProperty Id="UpdateApacheConfig3" Sequence="execute" Value="[SUITE_INSTALLDIR]|[APACHE_PORT]|[#beta.hosted.com.conf]" Before="UpdateApacheConfig3" />
    <CustomAction Id="UpdateApacheConfig3" BinaryKey="WiXCustomAction" DllEntry="UpdateApacheConfig" Execute="deferred" Return="check" />
    <InstallExecuteSequence>
      <Custom Action="UpdateApacheConfig3" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>
      -->

    <Feature Id="ProductFeature" Title="Apache_MSIPackage" Level="1">
      <ComponentGroupRef Id="CG_Apache_ProductFiles" />
      <ComponentGroupRef Id="CG_Apache_ProductConfiguration" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="SUITE_INSTALLDIR" Name="$(var.Suite_InstallDir)">
        <Directory Id="DIR_APACHE" Name="Apache" />
        <Directory Id="DIR_WEB" Name="Web" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <Property Id="DIR_APACHE">
      <RegistrySearch Id="RegSearch_DIR_APACHE" Root="HKLM" Key="[INSTALL_REG_PATH]" Name="DIR_APACHE" Type="raw" />
    </Property>

    <ComponentGroup Id="CG_Apache_ProductConfiguration">
      <Component Id="CMP_Setup_ApacheService"  Guid="{5566AC22-9451-4FE7-9003-1AC33F4B79F9}" Directory="bin" >
        <File Id="httpd.exe" KeyPath="yes" Source="$(var.Apache_ProductFiles_x64)\bin\httpd.exe" />
        <ServiceInstall Id="ApacheService_SvcInstall" Name="$(var.Apache_SVC_Name)" DisplayName="$(var.Apache_SVC_DisplayName)" Description="$(var.Apache_SVC_Description)" Arguments="-k runservice" Type="ownProcess" Start="auto" ErrorControl="normal" Interactive="no">
          <util:ServiceConfig ServiceName="$(var.Apache_SVC_Name)" FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" RestartServiceDelayInSeconds="15" ResetPeriodInDays="1"/>
        </ServiceInstall>
        <ServiceControl Id="ApacheService_SvcControl" Name="$(var.Apache_SVC_Name)" Start="install" Stop="uninstall" Remove="uninstall" Wait="yes"/>
      </Component>

      <Component Id="suiteweb.index.html" Guid="{C7312F5D-07E2-49D2-B0C5-B4D3D923C4D8}" Directory="DIR_WEB">
        <File Id="suiteweb.index.html" Source="$(var.Apache_ProductFiles_x64)\htdocs\index.html" KeyPath="yes" />
      </Component>
      <Component Id="suiteweb.phpinfo.php" Guid="{B8002ACA-4760-466B-89CD-822C41CA3313}" Directory="DIR_WEB">
        <File Id="suiteweb.phpinfo.php" Source="$(var.Apache_ProductFiles_x64)\htdocs\phpinfo.php" KeyPath="yes" />
      </Component>

      <Component Id="CMP_RegistryEntries" Guid="{06AA9055-D6DD-40CC-B409-0E2EC76A1A80}" Directory="logs">
        <RegistryValue Root="HKLM" Key="[INSTALL_REG_PATH]" Name="DIR_APACHE" Type="string" Value="[DIR_APACHE]" KeyPath="yes" />
        <RegistryValue Root="HKLM" Key="[INSTALL_REG_PATH]" Name="DIR_WEB" Type="string" Value="[DIR_WEB]" />
        <RegistryValue Root="HKLM" Key="[INSTALL_REG_PATH]" Name="APACHE_PORT" Type="string" Value="[APACHE_PORT]" />
        <RemoveFile Id="RemoveFile_TextLogFiles" Name="*.log" On="uninstall"/>
      </Component>

      <Component Id="CMP_RemoveSuiteFolder" Guid="{13057E46-5C10-4081-9D0E-EA1B6487A809}" Directory="SUITE_INSTALLDIR" KeyPath="yes" >
        <RemoveFolder Id="RemoveSuiteFolder" On="uninstall"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>