<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?include Configuration.wxi?>
    <!-- "%WIX%\bin\heat.exe" dir "php-7.0.3-Win32-VC14-x86" -cg CG_PHP_ProductFiles -dr DIR_PHP -gg -ke -scom -sfrag -srd -suid -sreg -var var.PHP_ProductFiles_x86 -o "PHP_ProductFiles_x86.wxs" -->

    <?if $(var.Platform)="x86"?>
    <Fragment>
        <DirectoryRef Id="DIR_PHP">
            <Component Id="deplister.exe" Guid="{342F0BFB-094D-48D4-B6B0-75A4F91EFE81}">
                <File Id="deplister.exe" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\deplister.exe" />
            </Component>
            <Component Id="glib_2.dll" Guid="{D865922C-481B-4125-ACAD-0B7090CC0CBC}">
                <File Id="glib_2.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\glib-2.dll" />
            </Component>
            <Component Id="gmodule_2.dll" Guid="{BAE8C8F2-7C17-48F0-8662-E75963BF1E3A}">
                <File Id="gmodule_2.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\gmodule-2.dll" />
            </Component>
            <Component Id="icudt56.dll" Guid="{8E66575E-743D-4180-91EC-BA9D9E7A10C1}">
                <File Id="icudt56.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\icudt56.dll" />
            </Component>
            <Component Id="icuin56.dll" Guid="{D71D8224-B931-4831-B30F-9AA98C75F587}">
                <File Id="icuin56.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\icuin56.dll" />
            </Component>
            <Component Id="icuio56.dll" Guid="{0CAF2378-033C-413F-A2EC-A971709789AB}">
                <File Id="icuio56.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\icuio56.dll" />
            </Component>
            <Component Id="icule56.dll" Guid="{ABEC3870-8C4A-46B8-A57C-9E106AC0DC9F}">
                <File Id="icule56.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\icule56.dll" />
            </Component>
            <Component Id="icuuc56.dll" Guid="{5A20110F-F1B4-4D43-81C7-27DB13F02FBB}">
                <File Id="icuuc56.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\icuuc56.dll" />
            </Component>
            <Component Id="install.txt" Guid="{F066D668-38E1-46D7-9A40-D464277F4B79}">
                <File Id="install.txt" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\install.txt" />
            </Component>
            <Component Id="libeay32.dll" Guid="{F60A67EF-B7F2-4F17-8964-7501A5ED1E7A}">
                <File Id="libeay32.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\libeay32.dll" />
            </Component>
            <Component Id="libenchant.dll" Guid="{DB75FA85-ADA0-40EA-88BA-BE4DE4CFDBF4}">
                <File Id="libenchant.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\libenchant.dll" />
            </Component>
            <Component Id="libpq.dll" Guid="{6E200141-B364-40B3-B6ED-E5092D28F7D5}">
                <File Id="libpq.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\libpq.dll" />
            </Component>
            <Component Id="libsasl.dll" Guid="{B4F0B399-A3E1-4C43-B986-C56E2F799957}">
                <File Id="libsasl.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\libsasl.dll" />
            </Component>
            <Component Id="libssh2.dll" Guid="{14D5212E-CC5A-435D-BCB3-C4733A367A00}">
                <File Id="libssh2.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\libssh2.dll" />
            </Component>
            <Component Id="license.txt" Guid="{82CA6049-4106-496D-85F3-1E406018D1B5}">
                <File Id="license.txt" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\license.txt" />
            </Component>
            <Component Id="news.txt" Guid="{5838425F-7F32-4BED-B067-5D51939374B1}">
                <File Id="news.txt" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\news.txt" />
            </Component>
            <Component Id="phar.phar.bat" Guid="{6B15F408-12CE-4D1F-89EB-198306493F66}">
                <File Id="phar.phar.bat" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\phar.phar.bat" />
            </Component>
            <Component Id="pharcommand.phar" Guid="{C98DB0BD-C07D-4BF4-9154-C5FA6AAAACD1}">
                <File Id="pharcommand.phar" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\pharcommand.phar" />
            </Component>
            <Component Id="php_cgi.exe" Guid="{307D4477-BB10-453C-A9B8-C7BEB8BE5B52}">
                <File Id="php_cgi.exe" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\php-cgi.exe" />
            </Component>
            <Component Id="php_win.exe" Guid="{77D5B8FA-A066-4528-9A98-78505ACD897C}">
                <File Id="php_win.exe" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\php-win.exe" />
            </Component>
            <Component Id="php.exe" Guid="{A70F158C-7351-485A-9102-E3CD3F356572}">
                <File Id="php.exe" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\php.exe" />
            </Component>
            <Component Id="php.gif" Guid="{DB9A4A03-4B09-457A-992D-6DC0EB338C34}">
                <File Id="php.gif" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\php.gif" />
            </Component>
            <Component Id="php.ini" Guid="{5CD90479-F42F-4D91-954A-36C051DFD72D}">
                <File Id="php.ini" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\php.ini" />
            </Component>
            <Component Id="php.ini_development" Guid="{C7313892-68E7-4A42-BE71-DDBF31394325}">
                <File Id="php.ini_development" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\php.ini-development" />
            </Component>
            <Component Id="php.ini_production" Guid="{D85D961B-FB90-4298-ABB8-FE77BB5846A6}">
                <File Id="php.ini_production" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\php.ini-production" />
            </Component>
            <Component Id="php7apache2_4.dll" Guid="{8EBC09B0-4001-4D19-B30D-24AF1651B8F2}">
                <File Id="php7apache2_4.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\php7apache2_4.dll" />
            </Component>
            <Component Id="php7embed.lib" Guid="{A0881BCB-BDD5-4F80-B556-A5249FF04662}">
                <File Id="php7embed.lib" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\php7embed.lib" />
            </Component>
            <Component Id="php7phpdbg.dll" Guid="{CCEEE7F0-53F4-4620-A99C-F46351369A44}">
                <File Id="php7phpdbg.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\php7phpdbg.dll" />
            </Component>
            <Component Id="php7ts.dll" Guid="{E531EEDE-0788-4056-978F-D808F0D01812}">
                <File Id="php7ts.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\php7ts.dll" />
            </Component>
            <Component Id="phpdbg.exe" Guid="{87F07F62-0EEC-4A1D-BBE0-A3F25169ECB7}">
                <File Id="phpdbg.exe" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\phpdbg.exe" />
            </Component>
            <Component Id="readme_redist_bins.txt" Guid="{9475AFF4-347C-434E-BD49-180673B2D6FB}">
                <File Id="readme_redist_bins.txt" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\readme-redist-bins.txt" />
            </Component>
            <Component Id="snapshot.txt" Guid="{9C5DEADC-CAA3-4D1C-BC11-EEBC28AACB0C}">
                <File Id="snapshot.txt" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\snapshot.txt" />
            </Component>
            <Component Id="ssleay32.dll" Guid="{3B032995-ED77-4B09-9B2F-31C09E6CCD76}">
                <File Id="ssleay32.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ssleay32.dll" />
            </Component>
            <Directory Id="dev" Name="dev">
                <Component Id="php7ts.lib" Guid="{4CF6E5F7-4F3A-46E0-B66B-E75E28A000C4}">
                    <File Id="php7ts.lib" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\dev\php7ts.lib" />
                </Component>
            </Directory>
            <Directory Id="ext" Name="ext">
                <Component Id="php_bz2.dll" Guid="{24295C01-5688-47B8-9DDE-7AC088AC6DF2}">
                    <File Id="php_bz2.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_bz2.dll" />
                </Component>
                <Component Id="php_com_dotnet.dll" Guid="{DDDEEF3B-A032-4288-827F-D53D8243FCAC}">
                    <File Id="php_com_dotnet.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_com_dotnet.dll" />
                </Component>
                <Component Id="php_curl.dll" Guid="{919E6715-938E-450F-BF4E-0EA50D924421}">
                    <File Id="php_curl.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_curl.dll" />
                </Component>
                <Component Id="php_enchant.dll" Guid="{E0FDB298-F056-4DBD-BF05-55619A49376F}">
                    <File Id="php_enchant.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_enchant.dll" />
                </Component>
                <Component Id="php_exif.dll" Guid="{9E0676DC-D333-428E-ABC6-DA4BB914F74B}">
                    <File Id="php_exif.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_exif.dll" />
                </Component>
                <Component Id="php_fileinfo.dll" Guid="{3FAB319C-CB0F-4815-8779-862049B551DD}">
                    <File Id="php_fileinfo.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_fileinfo.dll" />
                </Component>
                <Component Id="php_ftp.dll" Guid="{1BFD7478-6658-4AE5-A1ED-D9FB64DD91A6}">
                    <File Id="php_ftp.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_ftp.dll" />
                </Component>
                <Component Id="php_gd2.dll" Guid="{99DDD0DD-24FB-4AA9-83BE-6543F42EAB97}">
                    <File Id="php_gd2.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_gd2.dll" />
                </Component>
                <Component Id="php_gettext.dll" Guid="{74151CB7-3CD6-4A21-907F-A33FF313C240}">
                    <File Id="php_gettext.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_gettext.dll" />
                </Component>
                <Component Id="php_gmp.dll" Guid="{81EBAAE2-570F-4245-A4BA-BC533253DB77}">
                    <File Id="php_gmp.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_gmp.dll" />
                </Component>
                <Component Id="php_imap.dll" Guid="{BF39E806-1BD0-4F72-AE1E-E877F940E8D1}">
                    <File Id="php_imap.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_imap.dll" />
                </Component>
                <Component Id="php_interbase.dll" Guid="{CBA00B87-74F6-43E3-9C3A-C1900EF1F63B}">
                    <File Id="php_interbase.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_interbase.dll" />
                </Component>
                <Component Id="php_intl.dll" Guid="{C3EF7AFE-EA14-4692-BB5C-08BE685D8104}">
                    <File Id="php_intl.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_intl.dll" />
                </Component>
                <Component Id="php_ldap.dll" Guid="{E5647F02-544B-46EF-AED9-4A80F85FA347}">
                    <File Id="php_ldap.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_ldap.dll" />
                </Component>
                <Component Id="php_mbstring.dll" Guid="{A26265CE-C2FE-42BB-AFD5-D6178D0A34D9}">
                    <File Id="php_mbstring.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_mbstring.dll" />
                </Component>
                <Component Id="php_mysqli.dll" Guid="{C7D31F1E-215D-4CAC-AEE8-99399405E044}">
                    <File Id="php_mysqli.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_mysqli.dll" />
                </Component>
                <Component Id="php_oci8_12c.dll" Guid="{DCFE5E37-D82B-4E49-AE38-7ABA31530A97}">
                    <File Id="php_oci8_12c.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_oci8_12c.dll" />
                </Component>
                <Component Id="php_odbc.dll" Guid="{9817C7D2-A8B5-43F7-B8DB-CE5C8CEA8D61}">
                    <File Id="php_odbc.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_odbc.dll" />
                </Component>
                <Component Id="php_opcache.dll" Guid="{F5BFD082-43C1-4C0D-A1EC-B80BABC93DBA}">
                    <File Id="php_opcache.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_opcache.dll" />
                </Component>
                <Component Id="php_openssl.dll" Guid="{E2FA5BC0-61B3-4BEE-8B94-577BA5D313D2}">
                    <File Id="php_openssl.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_openssl.dll" />
                </Component>
                <Component Id="php_pdo_firebird.dll" Guid="{C95AD8AA-183B-40D0-B3C6-4BEC0916D868}">
                    <File Id="php_pdo_firebird.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_pdo_firebird.dll" />
                </Component>
                <Component Id="php_pdo_mysql.dll" Guid="{9967048B-071E-40F2-8DA0-25CCA3202BD5}">
                    <File Id="php_pdo_mysql.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_pdo_mysql.dll" />
                </Component>
                <Component Id="php_pdo_oci.dll" Guid="{CD953D82-51A1-417B-B9DE-41ED987EE9C7}">
                    <File Id="php_pdo_oci.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_pdo_oci.dll" />
                </Component>
                <Component Id="php_pdo_odbc.dll" Guid="{6B9B8D35-2C18-4D0B-A1E4-2FFBE554CE34}">
                    <File Id="php_pdo_odbc.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_pdo_odbc.dll" />
                </Component>
                <Component Id="php_pdo_pgsql.dll" Guid="{1C227AA7-FC21-41C9-A301-FDCEB4DD22F0}">
                    <File Id="php_pdo_pgsql.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_pdo_pgsql.dll" />
                </Component>
                <Component Id="php_pdo_sqlite.dll" Guid="{C733686C-70D2-4024-A241-F8ABE618F9A5}">
                    <File Id="php_pdo_sqlite.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_pdo_sqlite.dll" />
                </Component>
                <Component Id="php_pgsql.dll" Guid="{D9EE63D9-0400-4FAB-B5DB-FCF12E29093D}">
                    <File Id="php_pgsql.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_pgsql.dll" />
                </Component>
                <Component Id="php_phpdbg_webhelper.dll" Guid="{B5360BF8-4F63-42AA-8552-4CF16D98708E}">
                    <File Id="php_phpdbg_webhelper.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_phpdbg_webhelper.dll" />
                </Component>
                <Component Id="php_shmop.dll" Guid="{D470A0A3-1723-4C9D-AF85-928A3A33EEA5}">
                    <File Id="php_shmop.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_shmop.dll" />
                </Component>
                <Component Id="php_snmp.dll" Guid="{278BCA09-07A8-4BF2-B6C5-8581C61B526F}">
                    <File Id="php_snmp.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_snmp.dll" />
                </Component>
                <Component Id="php_soap.dll" Guid="{19150BD7-1A19-4D8F-8E08-064991ECC5E7}">
                    <File Id="php_soap.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_soap.dll" />
                </Component>
                <Component Id="php_sockets.dll" Guid="{7C71E6CB-8263-41DF-82C3-FFC28BBE6CC5}">
                    <File Id="php_sockets.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_sockets.dll" />
                </Component>
                <Component Id="php_sqlite3.dll" Guid="{1FD9BC6F-A3F9-432B-A21A-2A13E61EAB32}">
                    <File Id="php_sqlite3.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_sqlite3.dll" />
                </Component>
                <Component Id="php_sysvshm.dll" Guid="{D265499B-ECFA-4F5E-B449-B541A1A3505F}">
                    <File Id="php_sysvshm.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_sysvshm.dll" />
                </Component>
                <Component Id="php_tidy.dll" Guid="{75A6D0DB-EB03-4A6F-A553-77A7C35CC8A8}">
                    <File Id="php_tidy.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_tidy.dll" />
                </Component>
                <Component Id="php_xmlrpc.dll" Guid="{210AED76-3761-4A2F-A954-0465E75E3F4C}">
                    <File Id="php_xmlrpc.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_xmlrpc.dll" />
                </Component>
                <Component Id="php_xsl.dll" Guid="{25F41C81-96DF-4543-A9DA-9D4DD216D45C}">
                    <File Id="php_xsl.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\ext\php_xsl.dll" />
                </Component>
            </Directory>
            <Directory Id="extras" Name="extras">
                <Directory Id="ssl" Name="ssl">
                    <Component Id="openssl.cnf" Guid="{729FE433-A463-4A2A-AD8D-FE198B0BD0ED}">
                        <File Id="openssl.cnf" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\extras\ssl\openssl.cnf" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="lib" Name="lib">
                <Directory Id="enchant" Name="enchant">
                    <Component Id="libenchant_ispell.dll" Guid="{51D226C8-D8D8-4174-B191-60760470D950}">
                        <File Id="libenchant_ispell.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\lib\enchant\libenchant_ispell.dll" />
                    </Component>
                    <Component Id="libenchant_myspell.dll" Guid="{DDBEF162-6B14-4F06-9EC1-13ADD988D4FF}">
                        <File Id="libenchant_myspell.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\lib\enchant\libenchant_myspell.dll" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="sasl2" Name="sasl2">
                <Component Id="saslANONYMOUS.dll" Guid="{D1F4459F-B856-44A1-AE4B-85DB9AFD6FD3}">
                    <File Id="saslANONYMOUS.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\sasl2\saslANONYMOUS.dll" />
                </Component>
                <Component Id="saslCRAMMD5.dll" Guid="{84DC6226-94B9-48A5-8CD1-C73560E9C309}">
                    <File Id="saslCRAMMD5.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\sasl2\saslCRAMMD5.dll" />
                </Component>
                <Component Id="saslDIGESTMD5.dll" Guid="{2D63E1A1-EE2A-4B6B-9C31-4A40A25FAA0C}">
                    <File Id="saslDIGESTMD5.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\sasl2\saslDIGESTMD5.dll" />
                </Component>
                <Component Id="saslLOGIN.dll" Guid="{14A0E487-44E1-4D10-BDF0-4508823D7EAC}">
                    <File Id="saslLOGIN.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\sasl2\saslLOGIN.dll" />
                </Component>
                <Component Id="saslNTLM.dll" Guid="{53D35B78-7E21-4CA0-A09D-980DF3DC4ADF}">
                    <File Id="saslNTLM.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\sasl2\saslNTLM.dll" />
                </Component>
                <Component Id="saslOTP.dll" Guid="{6FD0A6C8-7638-421D-A3DA-E3ABE109148F}">
                    <File Id="saslOTP.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\sasl2\saslOTP.dll" />
                </Component>
                <Component Id="saslPLAIN.dll" Guid="{88255ADE-2F7A-4AAD-8C60-FFB7C073D70B}">
                    <File Id="saslPLAIN.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\sasl2\saslPLAIN.dll" />
                </Component>
                <Component Id="saslSCRAM.dll" Guid="{7D6B3795-AAEE-48AE-A4F4-3017CD7E51B9}">
                    <File Id="saslSCRAM.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\sasl2\saslSCRAM.dll" />
                </Component>
                <Component Id="saslSQLITE.dll" Guid="{4A54BDAE-280C-4E6D-B921-68197C2558D8}">
                    <File Id="saslSQLITE.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\sasl2\saslSQLITE.dll" />
                </Component>
                <Component Id="saslSRP.dll" Guid="{46176576-8096-4FD8-B0A6-ACB8744DDD3F}">
                    <File Id="saslSRP.dll" KeyPath="yes" Source="$(var.PHP_ProductFiles_x86)\sasl2\saslSRP.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CG_PHP_ProductFiles">
            <ComponentRef Id="deplister.exe" />
            <ComponentRef Id="glib_2.dll" />
            <ComponentRef Id="gmodule_2.dll" />
            <ComponentRef Id="icudt56.dll" />
            <ComponentRef Id="icuin56.dll" />
            <ComponentRef Id="icuio56.dll" />
            <ComponentRef Id="icule56.dll" />
            <ComponentRef Id="icuuc56.dll" />
            <ComponentRef Id="install.txt" />
            <ComponentRef Id="libeay32.dll" />
            <ComponentRef Id="libenchant.dll" />
            <ComponentRef Id="libpq.dll" />
            <ComponentRef Id="libsasl.dll" />
            <ComponentRef Id="libssh2.dll" />
            <ComponentRef Id="license.txt" />
            <ComponentRef Id="news.txt" />
            <ComponentRef Id="phar.phar.bat" />
            <ComponentRef Id="pharcommand.phar" />
            <ComponentRef Id="php_cgi.exe" />
            <ComponentRef Id="php_win.exe" />
            <ComponentRef Id="php.exe" />
            <ComponentRef Id="php.gif" />
            <ComponentRef Id="php.ini" />
            <ComponentRef Id="php.ini_development" />
            <ComponentRef Id="php.ini_production" />
            <ComponentRef Id="php7apache2_4.dll" />
            <ComponentRef Id="php7embed.lib" />
            <ComponentRef Id="php7phpdbg.dll" />
            <ComponentRef Id="php7ts.dll" />
            <ComponentRef Id="phpdbg.exe" />
            <ComponentRef Id="readme_redist_bins.txt" />
            <ComponentRef Id="snapshot.txt" />
            <ComponentRef Id="ssleay32.dll" />
            <ComponentRef Id="php7ts.lib" />
            <ComponentRef Id="php_bz2.dll" />
            <ComponentRef Id="php_com_dotnet.dll" />
            <ComponentRef Id="php_curl.dll" />
            <ComponentRef Id="php_enchant.dll" />
            <ComponentRef Id="php_exif.dll" />
            <ComponentRef Id="php_fileinfo.dll" />
            <ComponentRef Id="php_ftp.dll" />
            <ComponentRef Id="php_gd2.dll" />
            <ComponentRef Id="php_gettext.dll" />
            <ComponentRef Id="php_gmp.dll" />
            <ComponentRef Id="php_imap.dll" />
            <ComponentRef Id="php_interbase.dll" />
            <ComponentRef Id="php_intl.dll" />
            <ComponentRef Id="php_ldap.dll" />
            <ComponentRef Id="php_mbstring.dll" />
            <ComponentRef Id="php_mysqli.dll" />
            <ComponentRef Id="php_oci8_12c.dll" />
            <ComponentRef Id="php_odbc.dll" />
            <ComponentRef Id="php_opcache.dll" />
            <ComponentRef Id="php_openssl.dll" />
            <ComponentRef Id="php_pdo_firebird.dll" />
            <ComponentRef Id="php_pdo_mysql.dll" />
            <ComponentRef Id="php_pdo_oci.dll" />
            <ComponentRef Id="php_pdo_odbc.dll" />
            <ComponentRef Id="php_pdo_pgsql.dll" />
            <ComponentRef Id="php_pdo_sqlite.dll" />
            <ComponentRef Id="php_pgsql.dll" />
            <ComponentRef Id="php_phpdbg_webhelper.dll" />
            <ComponentRef Id="php_shmop.dll" />
            <ComponentRef Id="php_snmp.dll" />
            <ComponentRef Id="php_soap.dll" />
            <ComponentRef Id="php_sockets.dll" />
            <ComponentRef Id="php_sqlite3.dll" />
            <ComponentRef Id="php_sysvshm.dll" />
            <ComponentRef Id="php_tidy.dll" />
            <ComponentRef Id="php_xmlrpc.dll" />
            <ComponentRef Id="php_xsl.dll" />
            <ComponentRef Id="openssl.cnf" />
            <ComponentRef Id="libenchant_ispell.dll" />
            <ComponentRef Id="libenchant_myspell.dll" />
            <ComponentRef Id="saslANONYMOUS.dll" />
            <ComponentRef Id="saslCRAMMD5.dll" />
            <ComponentRef Id="saslDIGESTMD5.dll" />
            <ComponentRef Id="saslLOGIN.dll" />
            <ComponentRef Id="saslNTLM.dll" />
            <ComponentRef Id="saslOTP.dll" />
            <ComponentRef Id="saslPLAIN.dll" />
            <ComponentRef Id="saslSCRAM.dll" />
            <ComponentRef Id="saslSQLITE.dll" />
            <ComponentRef Id="saslSRP.dll" />
        </ComponentGroup>
    </Fragment>
    <?endif?>
</Wix>