<?xml version="1.0" encoding="UTF-8"?>
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?include Configuration.wxi?>

  <Product Id="$(var.PHPMyAdmin_ProductCode)" Name="$(var.PHPMyAdmin_ProductName)" Language="1033" Version="$(var.PHPMyAdmin_ProductVersion)" Manufacturer="$(var.Suite_Manufacturer)" UpgradeCode="$(var.PHPMyAdmin_UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- To generate the embedded cabinet file, ie just the MSI -->
    <MediaTemplate EmbedCab="yes" />
    <!-- To generate a separate MSI and Cab file 
      <Media Id="1" Cabinet="PHPMyAdm.cab" EmbedCab="no"/> -->

    <Icon Id="ProductIcon" SourceFile="Resources\Product.ico" />


    <Binary Id="WiXCustomAction" SourceFile="..\WiXCustomAction\bin\$(var.Configuration)\Win64\WiXCustomAction.dll"/>

    <SetProperty Id="PHPMYADMIN_URL" Value="http://localhost:[APACHE_PORT]/pma/" Sequence="execute" Before="CreateShortcuts" />

    <SetProperty Id="UpdatePHPMyAdminConfig" Sequence="execute" Value="[MYSQL_PORT]|[#config.inc.php]" Before="UpdatePHPMyAdminConfig" />
    <CustomAction Id="UpdatePHPMyAdminConfig" BinaryKey="WiXCustomAction" DllEntry="UpdatePHPMyAdminConfig" Execute="deferred" Return="check" />

    <InstallExecuteSequence>
      <Custom Action="UpdatePHPMyAdminConfig" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>


    <Feature Id="ProductFeature" Title="PHPMyAdmin_MSIPackage" Level="1">
      <ComponentGroupRef Id="CG_PHPMyAdmin_ProductFiles" />
      <ComponentGroupRef Id="CG_PHPMyAdmin_ProductConfiguration"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="SUITE_INSTALLDIR" Name="$(var.Suite_InstallDir)">
        <Directory Id="DIR_PHPMYADMIN" Name="PHPMyAdmin" />
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">
        <Directory Id="StartMenuAppFolder" Name="$(var.Suite_StartMenuDir)"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="CG_PHPMyAdmin_ProductConfiguration">
      <Component Id="CMP_StartMenuShortcuts" Guid="{C65D7E84-27C2-4BFF-AAEE-A26BE8A17A26}" Directory="StartMenuAppFolder">
        <Shortcut Id="ProductShortcut" Name="Suite Database Admin" Description="Database administration tool" Target="[PHPMYADMIN_URL]" Icon="ProductIcon" Directory="StartMenuAppFolder"/>
        <RegistryValue Root="HKCU" Key="[INSTALL_REG_PATH]" Name="PHPMyAdmin_StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFolder Id="StartMenuAppFolder" On="uninstall"/>
      </Component>

      <Component Id="CMP_RemoveSuiteFolder" Guid="{D4D5F884-C867-4CA2-B27C-DE05D62B8ED8}" Directory="SUITE_INSTALLDIR" KeyPath="yes">
        <RemoveFolder Id="RemoveSuiteFolder" On="uninstall"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>