<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Configuration.wxi?>
    <Fragment><DirectoryRef Id="DIR_TOOLS"><Component Id="espeak_voice_install.txt" Guid="{C168F016-1A82-4E26-AC91-3086F600C8CC}"><File Id="espeak_voice_install.txt" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\espeak voice install.txt" /></Component><Component Id="espeak.exe" Guid="{B75BBFF6-079F-4E5A-86C7-6257F6ED76ED}"><File Id="espeak.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\espeak.exe" /></Component><Component Id="ffmpeg.exe" Guid="{88B9A63B-8ED4-4901-A31A-FB17329DF860}"><File Id="ffmpeg.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\ffmpeg.exe" /></Component><Directory Name="letsencrypt-win-simple.V1.9.3" Id="Tools_dir_letsencrypt_win_simple.V1.9.3">
                <Component Id="letsencrypt.exe" Guid="{9FF144DB-858B-4725-8FF3-E1D2425511B1}"><File Id="letsencrypt.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\letsencrypt-win-simple.V1.9.3\letsencrypt.exe" /></Component>
                <Component Id="letsencrypt.exe.config" Guid="{C3B1448A-1824-427C-B1D0-20A3E156838B}"><File Id="letsencrypt.exe.config" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\letsencrypt-win-simple.V1.9.3\letsencrypt.exe.config" /></Component>
                <Component Id="Web_Config.xml" Guid="{B0DD16CA-4BFD-47BB-B36D-CD1FB4DE492D}"><File Id="Web_Config.xml" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\letsencrypt-win-simple.V1.9.3\Web_Config.xml" /></Component>
                <Directory Name="x64" Id="Tools_dir_x64">
                    <Component Id="libeay32.dll" Guid="{5363702A-3CAE-4251-9EAD-4CEEC97D486D}"><File Id="libeay32.dll" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\letsencrypt-win-simple.V1.9.3\x64\libeay32.dll" /></Component>
                    <Component Id="ssleay32.dll" Guid="{96C2380F-F0BB-49F0-B44F-C5B1C9B069F3}"><File Id="ssleay32.dll" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\letsencrypt-win-simple.V1.9.3\x64\ssleay32.dll" /></Component>
                </Directory>
                <Directory Name="x86" Id="Tools_dir_x86">
                    <Component Id="libeay32.dll_1" Guid="{983F5DC3-A665-4D62-B625-2987E80993C2}"><File Id="libeay32.dll_1" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\letsencrypt-win-simple.V1.9.3\x86\libeay32.dll" /></Component>
                    <Component Id="ssleay32.dll_1" Guid="{32329509-6D75-447D-91ED-63D4B2002E85}"><File Id="ssleay32.dll_1" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\letsencrypt-win-simple.V1.9.3\x86\ssleay32.dll" /></Component>
                </Directory>
            </Directory><Directory Name="redis" Id="Tools_dir_redis">
                <Component Id="EventLog.dll" Guid="{AD1420C9-6DB8-44B1-9B53-9E6BC288E0CB}"><File Id="EventLog.dll" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\redis\EventLog.dll" /></Component>
                <Component Id="Redis_on_Windows_Release_Notes.docx" Guid="{31DECBFD-B2E8-4BFF-BC1B-C4E90B7D92EA}"><File Id="Redis_on_Windows_Release_Notes.docx" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\redis\Redis on Windows Release Notes.docx" /></Component>
                <Component Id="Redis_on_Windows.docx" Guid="{7DEAC667-DBC3-4E41-A55D-A3EC93C8C8B8}"><File Id="Redis_on_Windows.docx" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\redis\Redis on Windows.docx" /></Component>
                <Component Id="redis_benchmark.exe" Guid="{93B6A749-C0A8-4051-A409-5FE3676DA8CF}"><File Id="redis_benchmark.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\redis\redis-benchmark.exe" /></Component>
                <Component Id="redis_check_aof.exe" Guid="{E67F0184-6122-4521-A8B3-B703769DD0C0}"><File Id="redis_check_aof.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\redis\redis-check-aof.exe" /></Component>
                <Component Id="redis_check_rdb.exe" Guid="{7331CA96-0F88-416F-8F5A-9A49551AD88D}"><File Id="redis_check_rdb.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\redis\redis-check-rdb.exe" /></Component>
                <Component Id="redis_cli.exe" Guid="{AC621A0A-525E-490B-B7BC-438B67961043}"><File Id="redis_cli.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\redis\redis-cli.exe" /></Component>
                
                <Component Id="redis.windows_service.conf" Guid="{C39F48D4-8629-4EBE-9608-C0B337B7EC34}"><File Id="redis.windows_service.conf" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\redis\redis.windows-service.conf" /></Component>
                <Component Id="redis.windows.conf" Guid="{0F9CE4A4-E6EA-4CF3-A933-BBC661C0E3F0}"><File Id="redis.windows.conf" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\redis\redis.windows.conf" /></Component>
                <Component Id="Windows_Service_Documentation.docx" Guid="{15170E4E-A606-4BE3-B4AF-2EBD59434F2F}"><File Id="Windows_Service_Documentation.docx" KeyPath="yes" Source="$(var.Tools_ProductFiles_x86)\redis\Windows Service Documentation.docx" /></Component>
            </Directory></DirectoryRef></Fragment>
    <Fragment><ComponentGroup Id="CG_Tools_ProductFiles"><ComponentRef Id="espeak_voice_install.txt" /><ComponentRef Id="espeak.exe" /><ComponentRef Id="ffmpeg.exe" /><ComponentRef Id="letsencrypt.exe" /><ComponentRef Id="letsencrypt.exe.config" /><ComponentRef Id="Web_Config.xml" /><ComponentRef Id="libeay32.dll" /><ComponentRef Id="ssleay32.dll" /><ComponentRef Id="libeay32.dll_1" /><ComponentRef Id="ssleay32.dll_1" /><ComponentRef Id="EventLog.dll" /><ComponentRef Id="Redis_on_Windows_Release_Notes.docx" /><ComponentRef Id="Redis_on_Windows.docx" /><ComponentRef Id="redis_benchmark.exe" /><ComponentRef Id="redis_check_aof.exe" /><ComponentRef Id="redis_check_rdb.exe" /><ComponentRef Id="redis_cli.exe" /><ComponentRef Id="redis.windows_service.conf" /><ComponentRef Id="redis.windows.conf" /><ComponentRef Id="Windows_Service_Documentation.docx" /></ComponentGroup></Fragment>
</Wix>