<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Configuration.wxi?>
    <Fragment><DirectoryRef Id="DIR_TOOLS"><Component Id="espeak_voice_install.txt" Guid="{687D4E65-981F-4030-8D54-377832E43C39}"><File Id="espeak_voice_install.txt" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\espeak voice install.txt" /></Component><Component Id="espeak.exe" Guid="{C18BAC4B-AEBD-41D3-8D07-A433F5061ED2}"><File Id="espeak.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\espeak.exe" /></Component><Component Id="ffmpeg.exe" Guid="{174363F9-8355-4630-99DF-13641D17B5B5}"><File Id="ffmpeg.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\ffmpeg.exe" /></Component><Directory Name="letsencrypt-win-simple.V1.9.3" Id="Tools_dir_letsencrypt_win_simple.V1.9.3">
                <Component Id="letsencrypt.exe" Guid="{CECCC515-6866-486B-8353-610B77AA2CA6}"><File Id="letsencrypt.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\letsencrypt.exe" /></Component>
                <Component Id="letsencrypt.exe.config" Guid="{AAB59713-4AB0-4D65-BE96-2A394119715B}"><File Id="letsencrypt.exe.config" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\letsencrypt.exe.config" /></Component>
                <Component Id="Web_Config.xml" Guid="{7F859BA0-3B22-438A-B702-67AA64D47E9C}"><File Id="Web_Config.xml" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\Web_Config.xml" /></Component>
                <Directory Name="x64" Id="Tools_dir_x64">
                    <Component Id="libeay32.dll" Guid="{A81FB010-008D-4577-BC3C-2EECEF4CEB2E}"><File Id="libeay32.dll" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\x64\libeay32.dll" /></Component>
                    <Component Id="ssleay32.dll" Guid="{72A6C96D-05BE-4A72-AACF-2D6AE32BFF1F}"><File Id="ssleay32.dll" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\x64\ssleay32.dll" /></Component>
                </Directory>
                <Directory Name="x86" Id="Tools_dir_x86">
                    <Component Id="libeay32.dll_1" Guid="{367E4013-1223-435C-B94E-CF0D92B6B256}"><File Id="libeay32.dll_1" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\x86\libeay32.dll" /></Component>
                    <Component Id="ssleay32.dll_1" Guid="{9CCA219F-6A2E-479A-8433-3CE4A46A3638}"><File Id="ssleay32.dll_1" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\x86\ssleay32.dll" /></Component>
                </Directory>
            </Directory><Directory Name="redis" Id="Tools_dir_redis">
                <Component Id="EventLog.dll" Guid="{AAD685A7-6FEA-42A1-96FC-ACDE47BECE20}"><File Id="EventLog.dll" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\EventLog.dll" /></Component>
                <Component Id="Redis_on_Windows_Release_Notes.docx" Guid="{A712DBEF-CBDD-4585-AF13-0DE4F2C3D2A7}"><File Id="Redis_on_Windows_Release_Notes.docx" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\Redis on Windows Release Notes.docx" /></Component>
                <Component Id="Redis_on_Windows.docx" Guid="{C30E3832-ED20-441F-A517-DDCCFBA95263}"><File Id="Redis_on_Windows.docx" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\Redis on Windows.docx" /></Component>
                <Component Id="redis_benchmark.exe" Guid="{301411B3-26D3-4501-8508-0AA8DDDCDC95}"><File Id="redis_benchmark.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\redis-benchmark.exe" /></Component>
                <Component Id="redis_check_aof.exe" Guid="{AADB19E4-B966-4719-AE35-CCF23EACB546}"><File Id="redis_check_aof.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\redis-check-aof.exe" /></Component>
                <Component Id="redis_check_rdb.exe" Guid="{F21DC05D-FAD7-4C83-94F2-F972BA71A61F}"><File Id="redis_check_rdb.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\redis-check-rdb.exe" /></Component>
                <Component Id="redis_cli.exe" Guid="{46EC297F-C1CF-4F4A-9EDA-1D8FD2E2FCEA}"><File Id="redis_cli.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\redis-cli.exe" /></Component>
                
                <Component Id="redis.windows_service.conf" Guid="{F6F2E691-CF5A-4D84-B06B-786374F4EC8F}"><File Id="redis.windows_service.conf" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\redis.windows-service.conf" /></Component>
                <Component Id="redis.windows.conf" Guid="{A3C3C6A0-E4D0-4F6F-83C7-8869E6D8290B}"><File Id="redis.windows.conf" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\redis.windows.conf" /></Component>
                <Component Id="Windows_Service_Documentation.docx" Guid="{9C917E7F-BC83-4AB6-B417-42E73CE1B3DE}"><File Id="Windows_Service_Documentation.docx" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\Windows Service Documentation.docx" /></Component>
            </Directory></DirectoryRef></Fragment>
    <Fragment><ComponentGroup Id="CG_Tools_ProductFiles"><ComponentRef Id="espeak_voice_install.txt" /><ComponentRef Id="espeak.exe" /><ComponentRef Id="ffmpeg.exe" /><ComponentRef Id="letsencrypt.exe" /><ComponentRef Id="letsencrypt.exe.config" /><ComponentRef Id="Web_Config.xml" /><ComponentRef Id="libeay32.dll" /><ComponentRef Id="ssleay32.dll" /><ComponentRef Id="libeay32.dll_1" /><ComponentRef Id="ssleay32.dll_1" /><ComponentRef Id="EventLog.dll" /><ComponentRef Id="Redis_on_Windows_Release_Notes.docx" /><ComponentRef Id="Redis_on_Windows.docx" /><ComponentRef Id="redis_benchmark.exe" /><ComponentRef Id="redis_check_aof.exe" /><ComponentRef Id="redis_check_rdb.exe" /><ComponentRef Id="redis_cli.exe" /><ComponentRef Id="redis.windows_service.conf" /><ComponentRef Id="redis.windows.conf" /><ComponentRef Id="Windows_Service_Documentation.docx" /></ComponentGroup></Fragment>
</Wix>