<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Configuration.wxi?>
    <Fragment><DirectoryRef Id="DIR_TOOLS"><Component Id="espeak_voice_install.txt" Guid="{08435E49-6CB4-4592-9D7D-75D1225DBE38}"><File Id="espeak_voice_install.txt" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\espeak voice install.txt" /></Component><Component Id="espeak.exe" Guid="{8F38EA03-0971-497B-B53A-6AE7A74963D2}"><File Id="espeak.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\espeak.exe" /></Component><Component Id="ffmpeg.exe" Guid="{95C77E26-EF8A-4D96-8844-2F23F6209136}"><File Id="ffmpeg.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\ffmpeg.exe" /></Component><Directory Name="letsencrypt-win-simple.V1.9.3" Id="Tools_dir_letsencrypt_win_simple.V1.9.3">
                <Component Id="letsencrypt.exe" Guid="{3C96E759-382D-457A-AC62-82554729F596}"><File Id="letsencrypt.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\letsencrypt.exe" /></Component>
                <Component Id="letsencrypt.exe.config" Guid="{2BC21B98-FABE-4888-B4BD-7818F727616A}"><File Id="letsencrypt.exe.config" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\letsencrypt.exe.config" /></Component>
                <Component Id="Web_Config.xml" Guid="{8E70C584-AA4F-4926-956B-8C8772A4E1EF}"><File Id="Web_Config.xml" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\Web_Config.xml" /></Component>
                <Directory Name="x64" Id="Tools_dir_x64">
                    <Component Id="libeay32.dll" Guid="{A60CDC65-3745-4FCF-8F12-4BCA0FD3DAC7}"><File Id="libeay32.dll" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\x64\libeay32.dll" /></Component>
                    <Component Id="ssleay32.dll" Guid="{DAB55C08-5C56-469C-8F2B-857FF66A0369}"><File Id="ssleay32.dll" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\x64\ssleay32.dll" /></Component>
                </Directory>
                <Directory Name="x86" Id="Tools_dir_x86">
                    <Component Id="libeay32.dll_1" Guid="{0642C9E7-A7F8-4286-8646-81E6379E2012}"><File Id="libeay32.dll_1" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\x86\libeay32.dll" /></Component>
                    <Component Id="ssleay32.dll_1" Guid="{0071C469-918D-43A8-ACD5-54EAAEF0F2BF}"><File Id="ssleay32.dll_1" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\letsencrypt-win-simple.V1.9.3\x86\ssleay32.dll" /></Component>
                </Directory>
            </Directory><Directory Name="redis" Id="Tools_dir_redis">
                <Component Id="EventLog.dll" Guid="{233B54A7-0AC0-40A1-AF13-4DA10106015D}"><File Id="EventLog.dll" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\EventLog.dll" /></Component>
                <Component Id="Redis_on_Windows_Release_Notes.docx" Guid="{7AAB96F8-28B7-4646-8060-94FF4F1936CB}"><File Id="Redis_on_Windows_Release_Notes.docx" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\Redis on Windows Release Notes.docx" /></Component>
                <Component Id="Redis_on_Windows.docx" Guid="{D2788181-F011-4EF2-A3C6-1734E1E9521E}"><File Id="Redis_on_Windows.docx" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\Redis on Windows.docx" /></Component>
                <Component Id="redis_benchmark.exe" Guid="{02502B46-A60B-4E56-9AC8-336F52EFAB12}"><File Id="redis_benchmark.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\redis-benchmark.exe" /></Component>
                <Component Id="redis_check_aof.exe" Guid="{562FFFF7-FB60-4751-AE8E-706FF7A6D406}"><File Id="redis_check_aof.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\redis-check-aof.exe" /></Component>
                <Component Id="redis_check_rdb.exe" Guid="{1E284ECE-0600-4CD7-81FC-AE9EBE89EE1A}"><File Id="redis_check_rdb.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\redis-check-rdb.exe" /></Component>
                <Component Id="redis_cli.exe" Guid="{641F2BB5-A6F3-4299-A940-593C102F79F4}"><File Id="redis_cli.exe" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\redis-cli.exe" /></Component>
                
                <Component Id="redis.windows_service.conf" Guid="{7F8060B3-AC08-4ACC-8E82-18A94EFDACB5}"><File Id="redis.windows_service.conf" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\redis.windows-service.conf" /></Component>
                <Component Id="redis.windows.conf" Guid="{E3818032-9626-48E0-A8D9-6BBC58C2C274}"><File Id="redis.windows.conf" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\redis.windows.conf" /></Component>
                <Component Id="Windows_Service_Documentation.docx" Guid="{B8445459-176E-48AB-83C7-C4B3E50E55E6}"><File Id="Windows_Service_Documentation.docx" KeyPath="yes" Source="$(var.Tools_ProductFiles_x64)\redis\Windows Service Documentation.docx" /></Component>
            </Directory></DirectoryRef></Fragment>
    <Fragment><ComponentGroup Id="CG_Tools_ProductFiles"><ComponentRef Id="espeak_voice_install.txt" /><ComponentRef Id="espeak.exe" /><ComponentRef Id="ffmpeg.exe" /><ComponentRef Id="letsencrypt.exe" /><ComponentRef Id="letsencrypt.exe.config" /><ComponentRef Id="Web_Config.xml" /><ComponentRef Id="libeay32.dll" /><ComponentRef Id="ssleay32.dll" /><ComponentRef Id="libeay32.dll_1" /><ComponentRef Id="ssleay32.dll_1" /><ComponentRef Id="EventLog.dll" /><ComponentRef Id="Redis_on_Windows_Release_Notes.docx" /><ComponentRef Id="Redis_on_Windows.docx" /><ComponentRef Id="redis_benchmark.exe" /><ComponentRef Id="redis_check_aof.exe" /><ComponentRef Id="redis_check_rdb.exe" /><ComponentRef Id="redis_cli.exe" /><ComponentRef Id="redis.windows_service.conf" /><ComponentRef Id="redis.windows.conf" /><ComponentRef Id="Windows_Service_Documentation.docx" /></ComponentGroup></Fragment>
</Wix>