<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Configuration.wxi?>
    <Fragment><DirectoryRef Id="DIR_SUITEWEB"><Component Id="index.htm" Guid="{3D502176-F2CA-4211-A7DB-BA5D3C55A4ED}"><File Id="index.htm" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\index.htm" /></Component><Component Id="index.html" Guid="{5EFBBC13-D1E3-4F57-BD9A-0BDAE998C094}"><File Id="index.html" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\index.html" /></Component><Component Id="index.php" Guid="{14B35410-2FEA-48F8-9E9D-8824B503D81F}"><File Id="index.php" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\index.php" /></Component><Component Id="phpinfo.php" Guid="{F694C0C7-4FA8-4BA3-BBB2-18A77FE9ED53}"><File Id="phpinfo.php" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\phpinfo.php" /></Component><Directory Name="constants" Id="SuiteWeb_dir_constants">
                <Component Id="database.example.php" Guid="{3771607D-842E-4D79-AA7C-C4F3E0E26A12}"><File Id="database.example.php" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\constants\database.example.php" /></Component>
                <Component Id="database.php" Guid="{3BEC3F54-63DF-48D6-9D0D-FFA6B1E9B1DD}"><File Id="database.php" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\constants\database.php" /></Component>
            </Directory><Directory Name="css" Id="SuiteWeb_dir_css">
                <Component Id="yui_3.4.1_cssreset_min.css" Guid="{EF3621D5-4293-4679-8FB3-9FC9128798AA}"><File Id="yui_3.4.1_cssreset_min.css" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\css\yui_3.4.1_cssreset-min.css" /></Component>
            </Directory><Directory Name="functions" Id="SuiteWeb_dir_functions">
                <Component Id="safemysql.class.php" Guid="{52CDAEF6-A07C-424A-868B-025C3D1153BF}"><File Id="safemysql.class.php" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\functions\safemysql.class.php" /></Component>
            </Directory><Directory Name="js" Id="SuiteWeb_dir_js">
                <Directory Name="jquery" Id="SuiteWeb_dir_jquery">
                    <Component Id="jquery_2.1.0.js" Guid="{A62E2F4D-E10B-46F1-B9B0-B5C8D82A26CE}"><File Id="jquery_2.1.0.js" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\js\jquery\jquery-2.1.0.js" /></Component>
                </Directory>
            </Directory></DirectoryRef></Fragment>
    <Fragment><ComponentGroup Id="CG_SuiteWeb_ProductFiles"><ComponentRef Id="index.htm" /><ComponentRef Id="index.html" /><ComponentRef Id="index.php" /><ComponentRef Id="phpinfo.php" /><ComponentRef Id="database.example.php" /><ComponentRef Id="database.php" /><ComponentRef Id="yui_3.4.1_cssreset_min.css" /><ComponentRef Id="safemysql.class.php" /><ComponentRef Id="jquery_2.1.0.js" /></ComponentGroup></Fragment>
</Wix>