<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Configuration.wxi?>
    <Fragment><DirectoryRef Id="DIR_SUITEWEB"><Component Id="index.htm" Guid="{991DE9D2-F5DA-482E-B53D-D7673524DD0B}"><File Id="index.htm" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\index.htm" /></Component><Component Id="index.html" Guid="{97D0A206-0B9F-43E3-A279-5A1D3286B65C}"><File Id="index.html" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\index.html" /></Component><Component Id="index.php" Guid="{AA5502B5-64C8-4F96-8D3B-734A44FC3B62}"><File Id="index.php" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\index.php" /></Component><Component Id="phpinfo.php" Guid="{0D9B36FB-DD6E-41F2-8888-60921F07BC4B}"><File Id="phpinfo.php" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\phpinfo.php" /></Component><Directory Name="constants" Id="SuiteWeb_dir_constants">
                <Component Id="database.example.php" Guid="{C953CB70-C76B-4354-B425-80CB12FC6333}"><File Id="database.example.php" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\constants\database.example.php" /></Component>
                <Component Id="database.php" Guid="{B9968643-8542-42A4-8E92-AA7DB5E42CC8}"><File Id="database.php" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\constants\database.php" /></Component>
            </Directory><Directory Name="css" Id="SuiteWeb_dir_css">
                <Component Id="yui_3.4.1_cssreset_min.css" Guid="{B84A1FB4-7716-46E7-9D38-5F44B053E9BB}"><File Id="yui_3.4.1_cssreset_min.css" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\css\yui_3.4.1_cssreset-min.css" /></Component>
            </Directory><Directory Name="functions" Id="SuiteWeb_dir_functions">
                <Component Id="safemysql.class.php" Guid="{61F9E5BE-8796-4734-B814-C57C9EB312A1}"><File Id="safemysql.class.php" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\functions\safemysql.class.php" /></Component>
            </Directory><Directory Name="js" Id="SuiteWeb_dir_js">
                <Directory Name="jquery" Id="SuiteWeb_dir_jquery">
                    <Component Id="jquery_2.1.0.js" Guid="{25D027E3-A3EE-4185-A1BF-B4060027DD43}"><File Id="jquery_2.1.0.js" KeyPath="yes" Source="$(var.SuiteWeb_ProductFiles)\js\jquery\jquery-2.1.0.js" /></Component>
                </Directory>
            </Directory></DirectoryRef></Fragment>
    <Fragment><ComponentGroup Id="CG_SuiteWeb_ProductFiles"><ComponentRef Id="index.htm" /><ComponentRef Id="index.html" /><ComponentRef Id="index.php" /><ComponentRef Id="phpinfo.php" /><ComponentRef Id="database.example.php" /><ComponentRef Id="database.php" /><ComponentRef Id="yui_3.4.1_cssreset_min.css" /><ComponentRef Id="safemysql.class.php" /><ComponentRef Id="jquery_2.1.0.js" /></ComponentGroup></Fragment>
</Wix>