<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Configuration.wxi?>
    <Fragment><DirectoryRef Id="DIR_WEB"><Component Id="index.htm" Guid="{0B61BD73-EA4D-4DEC-A9C9-C5E0DF74C946}"><File Id="index.htm" KeyPath="yes" Source="$(var.Web_ProductFiles)\index.htm" /></Component><Component Id="index.html" Guid="{8C75F607-0BCA-44A7-93D1-B4C632CE7557}"><File Id="index.html" KeyPath="yes" Source="$(var.Web_ProductFiles)\index.html" /></Component><Component Id="index.php" Guid="{ABBF6227-3DED-44A3-81CB-261D1AF2D553}"><File Id="index.php" KeyPath="yes" Source="$(var.Web_ProductFiles)\index.php" /></Component><Component Id="phpinfo.php" Guid="{44E8C269-3F7E-48FD-AE61-543A53C0553D}"><File Id="phpinfo.php" KeyPath="yes" Source="$(var.Web_ProductFiles)\phpinfo.php" /></Component><Directory Name="constants" Id="SuiteWeb_dir_constants">
                <Component Id="database.example.php" Guid="{58D9D1FA-6DEF-4CBD-A6FD-E391637A80CB}"><File Id="database.example.php" KeyPath="yes" Source="$(var.Web_ProductFiles)\constants\database.example.php" /></Component>
                <Component Id="database.php" Guid="{2ABB3EFB-1A84-4433-8D6C-061B019DFFF1}"><File Id="database.php" KeyPath="yes" Source="$(var.Web_ProductFiles)\constants\database.php" /></Component>
            </Directory><Directory Name="css" Id="SuiteWeb_dir_css">
                <Component Id="yui_3.4.1_cssreset_min.css" Guid="{5ED969C4-4627-4E1A-8319-F73B48514248}"><File Id="yui_3.4.1_cssreset_min.css" KeyPath="yes" Source="$(var.Web_ProductFiles)\css\yui_3.4.1_cssreset-min.css" /></Component>
            </Directory><Directory Name="functions" Id="SuiteWeb_dir_functions">
                <Component Id="safemysql.class.php" Guid="{8D9FACC9-6AD6-4DD1-A03D-D2CDC79B63C0}"><File Id="safemysql.class.php" KeyPath="yes" Source="$(var.Web_ProductFiles)\functions\safemysql.class.php" /></Component>
            </Directory><Directory Name="js" Id="SuiteWeb_dir_js">
                <Directory Name="jquery" Id="SuiteWeb_dir_jquery">
                    <Component Id="jquery_2.1.0.js" Guid="{A5E768B5-D669-46D2-BB46-15684639F062}"><File Id="jquery_2.1.0.js" KeyPath="yes" Source="$(var.Web_ProductFiles)\js\jquery\jquery-2.1.0.js" /></Component>
                </Directory>
            </Directory></DirectoryRef></Fragment>
    <Fragment><ComponentGroup Id="CG_Web_ProductFiles"><ComponentRef Id="index.htm" /><ComponentRef Id="index.html" /><ComponentRef Id="index.php" /><ComponentRef Id="phpinfo.php" /><ComponentRef Id="database.example.php" /><ComponentRef Id="database.php" /><ComponentRef Id="yui_3.4.1_cssreset_min.css" /><ComponentRef Id="safemysql.class.php" /><ComponentRef Id="jquery_2.1.0.js" /></ComponentGroup></Fragment>
</Wix>