<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Configuration.wxi?>
    <Fragment><DirectoryRef Id="DIR_WEB"><Component Id="index.htm" Guid="{753267DC-3D9F-44EA-BDB7-30D6AC5CE121}"><File Id="index.htm" KeyPath="yes" Source="$(var.Web_ProductFiles)\index.htm" /></Component><Component Id="index.html" Guid="{E5E43F19-895E-4E8F-9CF3-4BC50ABAC423}"><File Id="index.html" KeyPath="yes" Source="$(var.Web_ProductFiles)\index.html" /></Component><Component Id="index.php" Guid="{D121ACB9-1499-455A-B691-9A34C222EC01}"><File Id="index.php" KeyPath="yes" Source="$(var.Web_ProductFiles)\index.php" /></Component><Component Id="phpinfo.php" Guid="{A8BF301E-F25F-49A7-93C3-D1979101A948}"><File Id="phpinfo.php" KeyPath="yes" Source="$(var.Web_ProductFiles)\phpinfo.php" /></Component><Directory Name="constants" Id="SuiteWeb_dir_constants">
                <Component Id="database.example.php" Guid="{2D4B70EF-5B6C-46E0-B19E-5A62E3CC5668}"><File Id="database.example.php" KeyPath="yes" Source="$(var.Web_ProductFiles)\constants\database.example.php" /></Component>
                <Component Id="database.php" Guid="{4FC8F185-7951-4D4B-9808-C87D124A3FE5}"><File Id="database.php" KeyPath="yes" Source="$(var.Web_ProductFiles)\constants\database.php" /></Component>
            </Directory><Directory Name="css" Id="SuiteWeb_dir_css">
                <Component Id="yui_3.4.1_cssreset_min.css" Guid="{78F6D05D-10CA-483A-B88D-60EC60AEBE41}"><File Id="yui_3.4.1_cssreset_min.css" KeyPath="yes" Source="$(var.Web_ProductFiles)\css\yui_3.4.1_cssreset-min.css" /></Component>
            </Directory><Directory Name="functions" Id="SuiteWeb_dir_functions">
                <Component Id="safemysql.class.php" Guid="{069DD1A5-C02B-412E-8F96-F7CF324FCC6D}"><File Id="safemysql.class.php" KeyPath="yes" Source="$(var.Web_ProductFiles)\functions\safemysql.class.php" /></Component>
            </Directory><Directory Name="js" Id="SuiteWeb_dir_js">
                <Directory Name="jquery" Id="SuiteWeb_dir_jquery">
                    <Component Id="jquery_2.1.0.js" Guid="{FBF8885E-2F4A-4362-BBF2-2485ED986541}"><File Id="jquery_2.1.0.js" KeyPath="yes" Source="$(var.Web_ProductFiles)\js\jquery\jquery-2.1.0.js" /></Component>
                </Directory>
            </Directory></DirectoryRef></Fragment>
    <Fragment><ComponentGroup Id="CG_Web_ProductFiles"><ComponentRef Id="index.htm" /><ComponentRef Id="index.html" /><ComponentRef Id="index.php" /><ComponentRef Id="phpinfo.php" /><ComponentRef Id="database.example.php" /><ComponentRef Id="database.php" /><ComponentRef Id="yui_3.4.1_cssreset_min.css" /><ComponentRef Id="safemysql.class.php" /><ComponentRef Id="jquery_2.1.0.js" /></ComponentGroup></Fragment>
</Wix>