<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <!-- Programatically created in SBIMCIEng_Product.wxs. -->
    <add name="Name" providerName="System.Data.ProviderName" connectionString="Provider=MSDASQL;DRIVER={MySQL ODBC 5.2 Unicode Driver};SERVER=localhost;PORT=3333;DATABASE=suitedatabase;UID=suitedbuser;PASSWORD=suitedbpass;OPTION=3;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
