<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <!-- Programatically created in SBIMCIEng_Product.wxs. -->
    <add name="MySQL" providerName="System.Data.ProviderName" connectionString="Provider=MSDASQL;DRIVER={MySQL ODBC 5.3 Unicode Driver};SERVER=localhost;PORT=3333;DATABASE=suitedatabase;UID=suitedbuser;PASSWORD=suitedbpass;OPTION=3;"/>
    <add name="Redis" providerName="System.Data.ProviderName" connectionString="localhost:6880,defaultDatabase=2"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
